#include "tracktyl-5x6.dtsi"
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zephyr,display = &oled;
    };
};

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro_a 3 GPIO_ACTIVE_HIGH>
        , <&pro_micro_a 2 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 6 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 9 GPIO_ACTIVE_HIGH>
        ;

};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 22)>,
                <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                <NRF_PSEL(SPIM_MISO, 0, 17)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 22)>,
                <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                <NRF_PSEL(SPIM_MISO, 0, 17)>;
            low-power-enable;
        };
    };

    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 1, 7)>,
                <NRF_PSEL(TWIM_SDA, 0, 6)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 1, 7)>,
                <NRF_PSEL(TWIM_SDA, 0, 6)>;
            low-power-enable;
        };
    };
};

&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3360";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        scroll-layers = <3>;
        snipe-layers = <4>;
    };
};

&trackball_listener {
    status = "okay";
    device = <&trackball>;
    input-processors = <&zip_temp_layer 2 1000>;

    scroller {
        layers = <3>;
        input-processors = <&zip_xy_to_scroll_mapper>;
        process-next;
    };
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twim"; // Good practice to include compatible
    clock-frequency = <I2C_BITRATE_STANDARD>; // Or I2C_BITRATE_FAST (400kHz)
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    // Increase internal buffer size. Needs >= 100 bytes based on error.
    // 128 is a reasonable value.
    zephyr,concat-buf-size = <300>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};
